/* Сброс стилей браузера */

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.layers {
    perspective: 1000px;
    transform-style: preserve-3d;
    will-change: transform;

 

    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    overflow: hidden;
    
}

.layers__container {
    height: 100vh;
    overflow: hidden;
    transform-style: preserve-3d;
    will-change: transform;

    transition: transform 1s cubic-bezier(0.125, 0.495, 0, 1);

    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layers__item {
position: absolute;
/*top: -100px;
left: -100px;
right: -100px;
bottom: -100px;*/
inset: -8vw;
background-size: cover;
background-position: center;
pointer-events: none

}





.layer-1 {
    
    transform: translateZ(-300px) scale(1.88);
    background-image: url(../images/layer-1.jpg);
}



.layer-2 {
    transform: translateZ(-200px) scale(1.20);
background-image: url(../images/layer-2.png)
}





.layer-4 {
    transform: translateZ(0px);
}



.layer-5 {
    transform: translateZ(50px);
background-image: url(../images/layer-5.png)

}



.layer-6 {
    transform: translateZ(100px);
background-image: url(../images/layer-6.png)

}



.canvas {
    width: 100%;
}

.layer-3 {
    transform: translateZ(10px);
    flex-direction: column;
    gap: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

}
.btn-rain {
    padding: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255, 0.5);
    background: none;
    color: white;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer
}

.btn-rain:active {
    background: white;
}